.title-container {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .title {
    color: #051f68;
  }
  
  .form-container {
    margin: 20px;
  }
  
  .form-row {
    display: flex;
    gap: 20px;
  }
  
  .form-row mat-form-field {
    flex: 1;
  }
  
  .full-width {
    width: 100%;
  }
  
  mat-form-field {
    margin-bottom: 15px;
  }
  
  .form-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .cancel-button {
    border: 1px solid #ccc;
    margin-right: 10px;
  }

  .custom-error {
    color: #f44336;
    font-size: 75%;
    margin-top: -1em;
    margin-bottom: 1em;
    display: block;
  }
  
  @media (max-width: 600px) {
    .form-container {
      margin: 10px;
      max-height: calc(100vh - 120px);
      overflow-y: auto;
    }
  
    .form-row {
      flex-direction: column;
      gap: 0;
    }
  
    .form-actions {
      flex-direction: column;
    }
  
    .form-actions button {
      width: 100%;
      margin-bottom: 10px;
    }
  
    .cancel-button {
      margin-right: 0;
    }
  }