.footer {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  width: 100%;
  padding: 20px 0;
  position: relative;
  z-index: 10;
}

@media (max-width: 768px) {
  .footer {
    padding: 1rem 16px;
  }
}